@import "gk_theme.scss";

table {
  width: 100% !important;
}

//table.mainTable {
//  tr {
//    display: table-row !important;
//  }
//}

a:link {
  color: $v-color-blue4;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: underline;
}

label {
  color: inherit;
  font-size: inherit;
}

input, select {
  background-clip: border-box;
  background: $v-color-green6 none scroll;
  background-origin: padding-box;
  background-size: auto;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-radius: 4px;
  border: 1px solid rgb(171, 182, 156);
  box-shadow: none;
  box-sizing: border-box;
  color: rgb(68, 83, 49);
  cursor: auto;
  display: inline-block;
  //font-family: Roboto, normal;
  font-size: 16px;
  font-style: normal;
  font-variant-caps: normal;
  font-weight: normal;
  height: 37px;
  width: 50%;
  letter-spacing: normal;
  line-height: 19px;
  margin: 0;
  padding: 4px 9px 4px 9px;
  text-align: start;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  transition-delay: 0s, 0s;
  transition-duration: 0.18s, 0.18s;
  transition-property: box-shadow, border;
  transition-timing-function: ease, ease;
  unicode-bidi: embed;
  white-space: nowrap;
  word-spacing: 0;
}

input:focus, select:focus {
  outline: none;
  border-color: $v-color-green1;
}

input[type="button"], input[type="submit"] {
  width: auto !important;
  height: auto;
  text-align: left;
  background: grey;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

input[type="button"]:active, input[type="submit"]:active {
}

select {
  margin-bottom: 8px !important;
}

// Payment method is preselected
select#paymentMethod {
  pointer-events: none;
  color: grey;
}

.bar {
  background-color: inherit !important;
}

.frm_box {
  border: none;
  background-color: $v-color-green5;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 2vh !important;
  padding-bottom: 2vh !important;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 100vw;
}

td.label {
  width: 50%;
  text-align: right;
  padding-right: 30px;
  font-size: 16px;
  font-style: italic;
  color: $v-color-green19 !important;
  line-height: 1.2;
}

td.userInput {
  width: inherit;
}

td.firstToThird {
  display: none;
}

td.fifth {
  vertical-align: middle;
  width: 16px;
}

table#directDebit-account-original:not([style*="display: none"]),
table#directDebit-account-sepa:not([style*="display: none"]) {
  display: table !important;
}

tr#cvdRow {
  vertical-align: middle !important;
}

// Hide optional fields
tr#companyNameRow, tr#stateRow, tr#phoneRow, tr#mobileRow {
  display: none;
}

.userInputFirst {
  width: 20%;
  margin-bottom: 8px !important;
}

.userInputSecond {
  width: 79.3%;
  margin-bottom: 8px !important;
}

.userInputSpan2 {
  width: 100% !important;
  margin-bottom: 8px !important;
}

.userInputHalf {
  margin-bottom: 8px !important;
}

.bgWhite {
  background-color: transparent !important;
}

#frontendLanguage {
  width: 200px;
}

#notMandatoryRow > td > label {
  display: none;
}

.form-required:after {
  content: "*";
  color: #ff9868;
  font-size: large;
  padding-left: 7px;
}

#cancel {
  display: none;
}

.buttonRight {
  float: right;
}

.userInputSmall {
  min-width: 180px;
}


#bbSEPADecider {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
}

#bbSEPADecider input,
#bbSEPADecider label {
  align-self: center;
  width: auto;
}

#bbSEPADecider label {
  padding-right: 20px;
  color: #445331;
  font-size: 16px;
  cursor: pointer;
  margin-top: -18px;
}

#bbSEPADecider input[type='radio'] {
  width: auto;
  float: left;
  margin-right: 0.75em;
  background: transparent;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  font-size: 1em;
}

#bbSEPADecider input[type='radio']:checked,
#bbSEPADecider input[type='radio']:not(:checked) {
  background: transparent;
  position: relative;
  visibility: hidden;
  margin: 0;
  padding: 0;
}

#bbSEPADecider input[type='radio'] + label:before,
#bbSEPADecider input[type='radio']:not(:checked) + label:before {
  content:' ';
  display: inline-block;
  position: relative;
  border: 1px solid #778367;
  background: white;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  margin-right: 10px;
  top: 10px;
}

#bbSEPADecider input[type='radio']:hover + label:before {
  background: #9db181;
  box-shadow: inset 0 0 0 2px white;
}

#bbSEPADecider input[type='radio']:checked + label:before {
  background: #778367;
  box-shadow: inset 0 0 0 2px white;
}


@media screen and (max-width: 790px) {
  .userInputFirst {
    width:100%;
  }

  .userInputSecond {
    width:100%;
  }

  td.label {
    vertical-align: text-top;
    padding-top: 10px;

  }

  #bbSEPADecider {
    display: block;
    height: auto;
  }

  #bbSEPADecider label {
    display: block;
    margin-top:0;
    margin-bottom: 5px;
    margin-left: 42px;
  }

  #bbSEPADecider input[type='radio']+label:before,
  #bbSEPADecider input[type='radio']:not(:checked)+label:before {
    margin-left: -42px;
  }
}