<style>
    .pre-content {
        margin-top: 30px;
    }

    .pre-content .preregistration-info {
        clear: both;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .pre-content .preregistration-info .step-number {
        border-radius: 50px;
        font-size: 26px;
        text-align: center;
        width: 60px;
        height: 60px;
        vertical-align: middle;
        float: left;
        color: white;
    }

    .pre-content .preregistration-info .step-number span {
        display: inline-block;
        padding-top: 11px;
    }

    .pre-content .preregistration-info .step-content {
        margin-left: 80px;
        margin-top: 5px;
        color: #6C6C6D;
        font-style: italic;
    }

    .pre-content .preregistration-info .step-content h1 {
        font-style: normal;
        margin: 0;
        padding: 0;
        font-size: 1em;
        font-weight: bold;
        letter-spacing: 1px;
    }

    .pre-content .preregistration-info .step-content p {
        margin: 0;
        margin-top: 2px;
        padding: 0;
        line-height: normal;
    }

    .pre-content .preregistration-info.purple h1 {
        color: #743687;
    }

    .pre-content .preregistration-info.blue h1 {
        color: #1d6cae;
    }

    .pre-content .preregistration-info.green h1 {
        color: #64862d;
    }

    .pre-content .preregistration-info.purple .step-number {
        background-color: #743687;
    }

    .pre-content .preregistration-info.blue .step-number {
        background-color: #1d6cae;
    }

    .pre-content .preregistration-info.green .step-number {
        background-color: #64862d;
    }

    .pre-content .summary {
        padding-top: 15px;
    }

    .pre-content .summary ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .pre-content .summary ul li {
        width: 100%;
        text-align: center;
        padding: 10px;
        color: white;
        line-height: 70px;
        height: 70px;
        font-weight: normal;
    }

    .pre-content .summary ul li span {
        line-height: normal;
        vertical-align: middle;
        display: inline-block;
    }

    .pre-content .summary ul li:nth-of-type(1) {
        background-color: #799f5f;
    }

    .pre-content .summary ul li:nth-of-type(2) {
        background-color: #648649;
    }

    .pre-content .summary ul li:nth-of-type(3) {
        background-color: #224020;
    }
</style>
<div class="pre-content">
    <div class="preregistration-info purple">
        <div class="step-number"><span>1</span></div>
        <div class="step-content">
            <h1>Registrierung</h1>
            <p><strong>Registrieren Sie sich</strong> hier völlig <strong>unverbindlich</strong> für einen Zugang zur Gleichklang-Community.</p>
        </div>
    </div>

    <div class="preregistration-info blue">
        <div class="step-number"><span>2</span></div>
        <div class="step-content">
            <h1>Persönlichkeitsprofil erstellen und ansehen</h1>
            <p>Füllen Sie im nächsten Schritt die Fragebögen aus, um <strong>sofort</strong> Ihr kostenloses Persönlichkeitsprofil zu erhalten.</p>
        </div>
    </div>

    <div class="preregistration-info green">
        <div class="step-number"><span>3</span></div>
        <div class="step-content">
            <h1>Anmeldung abschließen</h1>
            <p>Wenn Sie sich im Anschluss für eine kostenpflichtige Mitgliedschaft für <strong>nur 89 &euro; Jahresgebühr</strong> entscheiden, versprechen wir Ihnen:</p>
        </div>
    </div>

    <div class="summary">
        <ul>
            <li><span>eine treffsichere Vermittlung durch Passung der Lebensstile</span></li>
            <li><span>100% echte Profile durch faire Gebühren für alle</span></li>
            <li><span>sehr hohe Erfolgsaussichten</span></li>
        </ul>
    </div>
</div>