<p><b>Aufopferungsbereite Liebe:</b> Personen mit hohen Werten sind bereit, sich bedingungslos für den Partner/die Partnerin aufzuopfern. Aufopferungsbereitschaft ist für sie eine wesentliche Grundlage von Liebe. Personen mit niedrigeren Werten betonen die Grenzen der Aufopferungsbereitschaft und wollen sich auch in einer Partnerschaft an ihren eigenen Interessen und Bedürfnisse orientieren können. Bedingungslose Aufopferung lehnen sie eher ab. <b>Ihre Ausprägung in Aufopferungsbereite Liebe ist <i>${agape}</i>.</b></p>
~~~
<p><b>Ungebundenheit:</b> Personen mit hohen Werten streben eher eine Beziehung mit Ungebundenheit an, ggf. durchaus auch im pragmatisch-spielerischen Sinn. Personen mit niedrigen Werten legen eher Wert auf feste Bindung und Familienbezug. <b>Ihre Ausprägung in Ungebundenheit ist <i>${ungebundenheit}</i>.</b></p>
~~~
<p><b>Konfliktgestaltung:</b> Personen mit hohen Werten in der Konfliktgestaltung neigen durchaus auch zu Streit in einer Partnerschaft, den sie für eine Beziehung für notwendig und auch förderlich halten. Personen mit niedrigen Werten in Konfliktgestaltung möchten Streit eher vermeiden, halten diesen für abträglich und möchten Auseinandersetzungen nicht durch Streit führen. <b>Ihre Ausprägung in Konfliktgestaltung ist <i>${konflikt}</i>.</p>
~~~
<p><b>Aussehen und Renomee:</b> Personen mit hohen Werten achten bei der Partnerwahl eher auf Aussehen und Renomee. Personen mit niedrigen Werten halten diese Faktoren für weniger wichtig. <b>Ihre Ausprägung in Aussehen und Renomee ist <i>${anspruch}</i>.</b></p>
~~~
<p><b>Kinderwunsch:</b> Für Personen mit hohen Werten gehören Kinder unbedingt zu einer Partnerschaft dazu. Eine kinderlose Partnerschaft können sie sich eher nicht vorstellen. Personen mit niedrigen Werten können sich durchaus auch eine kinderlose Partnerschaft vorstellen oder streben diese sogar an. <b>Ihre Ausprägung in Kinderwunsch ist <i>${kinder}</i>.</b></p>