<p><b>Authentizität und Wachstum:</b Personen mit hohen Werten in Authentizität und Wachstum wollen vor allem über alles sehr offen und ehrlich kommunizieren können. Sie erhoffen sich durch Freundschaft auch ein persönliches Wachstum. Personen mit niedrigen Werten in Authentizität und Wachstum halten rückhaltlose Offenheit für nicht unbedingt notwendig und förderlich. Für sie hat Freundschaft nicht primär auch den Zweck, selber innerlich zu wachsen. <b>Ihre Ausprägung in Authentizität und Wachstum ist <i>${authentizitaet}.</i></b></p>
~~~
<p><b>Konfliktgestaltung:</b> Personen mit hohen Werten in der Konfliktgestaltung neigen durchaus auch zu Streit in einer Freundsschaft, den sie für eine freundschaftliche Beziehung für notwendig und auch förderlich halten. Personen mit niedrigen Werten in Konfliktgestaltung möchten Streit eher vermeiden, halten diesen für abträglich und möchten Auseinandersetzungen nicht durch Streit führen. <b>Ihre Ausprägung in Konfliktgestaltung ist <i>${konflikt}</i>.</b></p>
~~~
<p><b>Geselligkeit:</b> Personen mit hohen Werten in Geselligkeit möchten in einer Freundschaft gerne etwas zusammen mit mehreren Personen unternehmen. Personen mit niedrigen Werten ziehen es eher vor, mit dem Freund viel allein zu sein. <b>Ihre Ausprägung in Geselligkeit ist <i>${geselligkeit}</i>.</b></p>
~~
<p><b>Anspruc~h:</b> Personen mit hohen Werten legen Wert auf Renomee, würden z.B. auch eher gerne eine Freundschaft mit bedeutenden Menschen führen. Personen mit niedrigen Werten stellen das Renomee nicht so stark in den Mittelpunkt. <b>Ihre Ausprägung in Anspruch ist <i>${anspruch}</i>.</b></p>