<span style="margin-bottom:1em; display: inline-block; color:#777777;  width: 100%;" class="test">It greets you warmly<br/>${admin} and the Responder-Team</span>
<span style="border-top:solid 1px #777777; display: inline-block; font-size:13px; color:#777777;  width: 100%;"><b>Gleich</b>klang :: The internet portal for psychological friendships and dating</span>
<span style="display: inline-block; color:#777777; font-size:13px;  width: 100%;"><a href="http://www.gleichklang.de">http://www.gleichklang.de</a></span>
<span style="display: inline-block; color:#777777; font-size:13px;  width: 100%;">Besuchen Sie auch den <a href="https://blog.gleichklang.de/">Gleichklang BLOG</a></span>
<span style="display: inline-block; color:#777777; font-size:13px; v">Hier kommen Sie zur <a href="http://www.facebook.com/pages/Gleichklangde/395608035209?ref=search">Facebook page from Gleichklang</a> and to the <a href="http://www.twitter.com/gleichklang_de">Gleichklang Twitter</a></span>
<div style="height: 10px;"></div>
<span style="display: inline-block; color:#777777; font-size:13px;  width: 100%;">Gleichklang limited</span>
<span style="display: inline-block; color:#777777; font-size:13px;  width: 100%;">Marie street 38</span>
<span style="display: inline-block; color:#777777; font-size:13px;  width: 100%;">D-30171 Hanover</span>
<div style="height: 10px;"></div>
<span style="display: inline-block; color:#777777; font-size:13px; width: 100%;">Fax. +49 (0)1805 - 7772 3332 (0,14 &euro;/min)</span>
<span style="display: inline-block; color:#777777; font-size:13px; width: 100%;">E-Mail: service@gleichklang.de</span>
<span style="display: inline-block; color:#777777; font-size:13px; width: 100%;">Web: <a href="www.gleichklang.de">www.gleichklang.de</a></span>
<div style="height: 10px;"></div>
<span style="display: inline-block; color:#777777; font-size:13px; width: 100%;">Company registration number: HRB202495</span>
<span style="display: inline-block; color:#777777; font-size:13px; width: 100%;">VAT registration number: DE246694217</span>
<span style="display: inline-block; color:#777777; font-size:13px; width: 100%;">Managing director and responsible according to § 10 paragraph 3 MDStV: Seksan Ammawat</span>
<div style="height: 10px;"></div>
<span style="display: inline-block; color:#777777; font-size:13px; width: 100%;">English seat</span>
<span style="display: inline-block; color:#777777; font-size:13px; width: 100%;">69 Great Hampton Street</span>
<span style="display: inline-block; color:#777777; font-size:13px; width: 100%;">Birmingham, B18 6EW</span>
<span style="display: inline-block; color:#777777; font-size:13px; width: 100%;">Company No.: 5669824</span>