<p><b>Extraversion:</b> Extraversion bezieht sich auf das Stimulationsbedürfnis eines Menschen, insbesondere das Ausmaß seines Bedürfnisses nach intensivem Kontakt mit seiner Umgebung. Extravertierte Personen neigen zum Optimismus und sind sehr energetisch, möchten häufig etwas unternehmen, suchen Abwechselung. Demgegenüber sind introvertierte Personen eher ruhiger, reflektierter und zurückgezogener. Dies bedeutet nicht, dass introvertierte Personen schüchtern sind, sie brauchen lediglich weniger Stimulation und Abwechslung, sind auch gerne für sich allein oder mit nur wenigen, dafür sehr vertrauten Personen zusammen. <b>Ihre Ausprägung in Extraversion ist <i>${extraversion}</i>.</b></p>
~~~
<p><b>Verträglichkeit:</b> Verträglichkeit bezieht sich auf Kooperation und soziale Harmonie. Personen mit hoher Verträglichkeit legen Wert darauf, mit anderen Personen gut auszukommen, sind freundlich, hilfsbereit, großzügig und kompromissbereit. Verträgliche Personen halten zudem andere Menschen im Allgemeinen für ehrlich und vertrauensvoll. Personen mit geringer Verträglichkeit legen mehr Wert auf sich selbst als auf andere, sie neigen zum Skeptizismus bezüglich der Absichten anderer Menschen, sind weniger hilfsbereit und nicht so kompromissbereit. Dies muss sich nicht negativ auswirken, sondern kann ,z.B. in einer wettbewerbsorientierten Umgebung, auch günstig sein. <b>Ihre Ausprägung in Verträglichkeit ist <i>${vertraeglichkeit}</i>.</b></p>
~~~
<p><b>Selbstdisziplin:</b> Selbstdisziplin bezieht sich auf die Art und Weise, wie wir unsere Impulse kontrollieren und regulieren. Erfasst wird die Bereitschaft und Fähigkeit zur Selbstkontrolle. Personen mit hoher Ausprägung treten sehr kontrolliert und diszipliniert auf. Personen mit geringer Ausprägung neigen zu Spontaneität und Impulsivität. <b>Ihre Ausprägung in Selbstdisziplin ist <i>${gewissenhaftigkeit}</i>.</b></p>
~~~
<p><b>Verletzlichkeit:</b> Verletzlichkeit bezieht sich auf das Ausmaß an emotionaler Labilität, Verwundbarkeit und Empfindlichkeit. Personen mit hohen Werten neigen dazu, schnell negative Gefühle, wie z.B. Angst, Traurigkeit oder Reizbarkeit, zu entwickeln. Personen mit niedrigen Werten sind emotional stabil und eher unempfindlich. <b>Ihre Ausprägung in Verletzlichkeit ist <i>${neurotizismus}</i>.</b></p>
~~~
<p><b>Offenheit für Neues:</b> Offenheit für Neues bezieht sich auf die Bereitschaft und das Bedürfnis, neue Erfahrungen zu erleben, nicht an Hergebrachtem festzuhalten, sondern sich an Veränderungen und Brüchen mit der Tradition zu erfreuen. Personen mit hohen Werten sind gegenüber Neuem und Veränderungen aufgeschlossen, während Personen mit niedrigen Werten eher an dem festhalten möchten, was bereits etabliert ist. Offenheit für Erfahrung geht ebenfalls oft einher mit einem besonderen Interesse für Kunst und der entsprechenden Bereitschaft, sich auf eine Auseinandersetzung mit Kunst einzulassen. <b>Ihre Ausprägung in Offenheit für Neues ist <i>${offenheit}</i>.</b></p>