<p><b>Untersuchungen haben gezeigt, dass es unterschiedliche Stile der Liebe und verschiedene Gestaltungsmöglichkeiten von Partnerschaft gibt.</b></p>
<p>Die unten mitgeteilten Ergebnisse geben Ihre individuelle Ausprägung in verschiedenen Komponenten von jeweils im Text erläuterten Stilen und Gestaltungsmöglichkeiten von Beziehungen wieder. Ebenfalls werden Ihre Ansprüche an eine potentiell als Partner/Partnerin geeignete Person erfasst und dargestellt.</p>
<p>Für jede der erfassten Komponenten Ihres individuellen Partnerschaftsmodells wird mitgeteilt, ob diese durchschnittlich, unterdurchschnittlich oder überdurchschnittlich ausgeprägt ist. Bei unter- und überdurchschnittlicher Ausprägung werden zudem die Grade leicht, mittel und stark unterschieden. Damit ergibt sich eine 7-stufige Skala von stark unterdurchschnittlich (-3) über durchschnittlich (0) bis hin zu stark überdurchschnittlich (+3).</p>
<p>Bei der Interpretation wird empfohlen, von den stärksten Abweichungen vom Durchschnitt auszugehen, aus denen sich dann in Kombination mit den weniger stark abweichenden und durchschnittlichen Werten die Dynamik des individuellen Modells von Partnerschaft erschließen lässt.</p>
<p>Es gibt keine guten oder schlechten Werte, denn jeder hat das Recht, individuelle Vorstellungen von Partnerschaft zu entwickeln und zu praktizieren. Bitte bedenken Sie, dass die folgenden Werte nur Näherungswerte sind. Eine fehlerfreie Messung des individuellen Partnerschaftsmodells ist nicht möglich.</p>