<p>Untersuchungen haben gezeigt, dass sich verschiedene Dimensionen gesellschaftlicher Einstellungen unterscheiden lassen. Diese Dimensionen geben Auskunft darüber, mit welchen Grundpositionen Menschen die sie umgebene gesellschaftliche Welt bewerten und einschätzen.</p>
<p>Die unten mitgeteilten Ergebnisse geben Ihre individuelle Ausprägung in fünf verschiedenen einstellungsbezogenen Grunddimensionen wieder.</p>
<p>Für jede der erfassten Grunddimensionen wird mitgeteilt, ob diese durchschnittlich, unterdurchschnittlich oder überdurchschnittlich ausgeprägt ist. Bei unter- und überdurchschnittlicher Ausprägung werden zudem die Grade leicht, mittel und stark unterschieden. Damit ergibt sich eine 7-stufige Skala von stark unterdurchschnittlich (-3) über durchschnittlich (0) bis hin zu stark überdurchschnittlich (+3).</p>
<p>Bei der Interpretation wird empfohlen, von den stärksten Abweichungen vom Durchschnitt auszugehen, aus denen sich dann in Kombination mit den weniger stark abweichenden und durchschnittlichen Werten die Dynamik Ihres Einstellungsprofils erschließen lässt.</p>
<p>Es gibt keine guten oder schlechten Werte, denn jeder hat das Recht, individuelle gesellschaftliche Einstellungen zu vertreten. Bitte bedenken Sie, dass die folgenden Werte nur Näherungswerte sind. Eine fehlerfreie Messung gesellschaftlicher Einstellungen ist nicht möglich.</p>