<p>Dies ist ein Bericht zu den Befunden der durchgeführten Erfassung Ihrer Persönlichkeitsstruktur. Die Diagnostik erfolgte auf der Grundlage des so genannten Fünf-Faktoren-Modells der Persönlichkeit (BIG FIVE) und seiner Facetten. Um die Befunde verstehen zu können, ist es wichtig, das folgende zunächst aufmerksam zu lesen:</p>
<p>Zahlreiche Studien haben weltweit belegt, dass die individuelle Persönlichkeit auf einer sehr allgemeinen und bereichsübergreifenden Ebene in fünf Grunddimensionen oder Basistendenzen unterteilbar ist. Diese Grunddimensionen der menschlichen Persönlichkeit, im Englischen BIG FIVE genannt, werden bezeichnet als: Emotionalität (Neurotizismus), Extraversion, soziale Verträglichkeit, Gewissenhaftigkeit und Offenheit für Erfahrungen. Sie weisen vielfältige Zusammenhänge zum individuellen Verhalten und Erleben auf. Die BIG FIVE sind zudem, obwohl Veränderungen grundsätzlich möglich sind, im Lebenslauf relativ stabil. Die BIG FIVE geben damit Auskunft über wesentliche Aspekte der Grundstruktur der individuellen Persönlichkeit eines Menschen.</p>
<p>Die unten mitgeteilten Ergebnisse geben Ihre individuelle Ausprägung in den Grunddimensionen der BIG FIVE wieder.</p>
<p>Für jede Persönlichkeitsdimension wird mitgeteilt, ob diese durchschnittlich, unterdurchschnittlich oder überdurchschnittlich ausgeprägt ist. Bei unter- und überdurchschnittlicher Ausprägung werden zudem die Grade leicht, mittel und stark unterschieden. Damit ergibt sich eine 7-stufige Skala von stark unterdurchschnittlich (-3) über durchschnittlich (0) bis hin zu stark überdurchschnittlich (+3).</p>
<p>Bei der Interpretation wird empfohlen, von den stärksten Abweichungen vom Durchschnitt auszugehen, aus denen sich dann in Kombination mit den weniger stark abweichenden und durchschnittlichen Werten die Dynamik der Persönlichkeit erschließen lässt.</p>
<p>Es gibt keine guten oder schlechten Werte, denn jeder hat das Recht, seine individuelle Persönlichkeit zu entwickeln und zu entfalten. Bitte bedenken Sie, dass die folgenden Werte nur Näherungswerte sind. Eine fehlerfreie Messung der Persönlichkeitsstruktur ist nicht möglich.</p>