<p>Im Folgenden erhalten Sie Ihr Persönlichkeitsprofil. Bitte lesen Sie zunächst die erklärenden Informationen auf Seite 2, damit Sie Ihre Ergebnisse auch verstehen und korrekt interpretieren.</p>
<p>Wir freuen uns sehr, dass Sie an diesem psychologischen Test von Gleichklang teilgenommen haben. Auf der Grundlage entsprechend fundierter Auswertungen führen wir auch unsere Partner- und Freundschaftsvermittlung durch. Wir freuen uns sehr, wenn Sie sich für unsere Vermittlung entscheiden und uns auch weiterempfehlen.</p>