Rückbuchung der Verlängerungsgebühr wegen eines technischen Fehlers
#include("include_header.html.vm")
Hallo ${user.alias},

für Sie ist im Rahmen Ihrer Teilnahme bei Gleichklang die automatische Verlängerung in Kraft getreten. Bei der Bezahlung der Verlängerungsgebühr ist es leider auf Grund eines technischen Fehlers zu einer Rückbuchung gekommen.

Damit Sie dennoch an der Teilnahmevermittlung bei Gleichklang teilnehmen können, bieten wir Ihnen an, den zurückgebuchten Betrag per Vorabüberweisung zu begleichen.

${paymentInfo}

Sollte eine Vorabüberweisung für Sie nicht möglich sein, nehmen Sie bitte mit uns Kontakt auf.

#include("include_footer.html.vm")