Bestätigung der Erweiterung der Gleichklang Teilnahme
#include("include_header.html.vm")
Hallo $!{user.firstName} $!{user.lastName},

wir bedanken uns herzlich für Ihre Buchung der Erweiterung Ihrer Gleichklang Teilnahme.
Bitte überweisen Sie den Betrag von ${amount} auf das folgende Konto:

${paymentInfo}


#include("include_footer.html.vm")