Ihr Zugang zu Gleichklang
#include("include_header.html.vm")
Guten Tag ${user.alias},

wir haben Ihnen ein neues Passwort vergeben.
Bitte loggen Sie sich bei folgender Adresse mit den untenstehenden Daten ein: https://gleichklang.de/teilnehmer
Email: ${user.email}
Passwort: ${password}

Bitte achten Sie bei der Eingabe darauf, dass sich keine leeren Zeichen vor oder hinter dem Text befinden. Gerne können Sie im Anschluss das Passwort auf ein von Ihnen Gewünschtes ändern.

#include("include_footer.html.vm")