Passwort für Adminbereich
#include("include_header.html.vm")

Hallo ${user.alias},

Ihr temporäres Passwort lautet: <b>${temp_password}.</b>

Achten Sie darauf, kein Leerzeichen vor oder nach dem Passwort mitzukopieren.
Bitte verwenden Sie nun dieses temporäre Passwort, um sich einzuloggen. Danach werden Sie gebeten, wieder ein neues Passwort zu wählen. Hierzu geben Sie das temporäre Passwort als altes Passwort an und geben dann zweimal das neue Passwort ein.

Ein Hinweis zur Sicherheit: Geben Sie Ihr Passwort nicht an Dritte weiter. Das Team von Gleichklang wird Sie niemals nach Ihrem Passwort fragen.

#include("include_footer.html.vm")