Passwort für Teilnahmebereich
#include("include_header.html.vm")
Hallo ${user.alias},

Für diese Emailadresse wurde ein neuer Zugang zu Ihrem Gleichklang-Account angefordert.
<b>Bitte klicken Sie auf <a href="${password_reset_url}">${password_reset_url}</a>, um sich in Ihrem Account anzumelden.</b>
Sie werden dort aufgefordert, ein eigenes neues Passwort zu vergeben.
Dieser Link hat eine Gültigkeit von 24 Stunden.

Ihr temporäres Passwort lautet ${temp_password} - Wenn Sie dem Link oben folgen und ein neues Passwort vergeben, benötigen Sie dieses NICHT.

Ein Hinweis zur Sicherheit: Geben Sie Ihr Passwort nicht an Dritte weiter. Das Team von Gleichklang wird Sie niemals nach Ihrem Passwort fragen.

#include("include_footer.html.vm")