Passwortzurücksetzen Anfrage
#include("include_header.html.vm")

Hallo ${admin.alias},

Admin ${user.alias} (${user.email}) hat seinen/ihren Passwort vergessen und bittet Sie seinen/ihren Passwort
zurückzusetzen.

Ein Hinweis zur Sicherheit: Geben Sie Ihr Passwort nicht an Dritte weiter. Das Team von Gleichklang wird Sie niemals nach Ihrem Passwort fragen.

#include("include_footer.html.vm")